[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
mypy = "*"
pytest-cov = "*"
selenium = "*"
marshmallow = "*"
pytest-socket = "*"

[dev-packages]

[requires]
python_version = "3.8"
